[Reading 8 lines from start (total: 8 lines, 0 remaining)]

DATABASE_URL=ecto://postgres:postgres@localhost/emotext
SECRET_KEY_BASE=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_REDIRECT_URI=http://localhost:4000/auth/callback/github
FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=
FACEBOOK_REDIRECT_URI=http://localhost:4000/auth/callback/facebook
