
<br>

  <div class="card green-well">

<h3>New Account</h3>

<%= render "form.html", changeset: @changeset, user_del_path: false,
                        action: user_path(@conn, :create) %>

</div>
