<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name='csrf_token' content='<%= Plug.CSRFProtection.get_csrf_token %>'>
    <%= if Guardian.Plug.current_token(@conn) do %>
      <meta name='guardian_token' content="<%= Guardian.Plug.current_token(@conn) %>">
    <% end %>

    <title>emotext</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro:400,300,700' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <div class="container" role="main">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li><%= link("help", to: "/help") %></li>
          <%= if Guardian.Plug.current_resource(@conn) do %>
            <%= if is_guest?(Guardian.Plug.current_resource(@conn)) do %>            
            <li><%= link("signup", to: user_path(@conn, :new)) %></li>
            <% else %>
            <li><%= link(Guardian.Plug.current_resource(@conn).screen_name, to: user_path(@conn, :edit, Guardian.Plug.current_resource(@conn))) %></li>
            <% end %>
            <li><%= link("logout", to: logout_path(@conn, :delete)) %></li>
          <% else %>
            <li><%= link("signup", to: user_path(@conn, :new)) %></li>
            <li><%= link("login", to: login_path(@conn, :create)) %></li>
          <% end %>
        </ul>
        <span class="logo">
        <a href="/">
          <span class="icon">ツ</span> 
          <span class="title">emotext</span> 
          <span class="subtitle"><u>emote</u>: verb. To show or pretend emotion.</span>
          </a>
        </span>
      </div>

      <% if (flash = get_flash(@conn, :info)) != nil do %>
      <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= flash %>
      </div>
      <% end %>

      <% if (flash = get_flash(@conn, :warn)) != nil do %>
      <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= flash %>
      </div>
      <% end %>

      <% if (flash = get_flash(@conn, :error)) != nil do %>
      <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= flash %>
      </div>
      <% end %>

      <%= render @view_module, @view_template, assigns %>

    </div> <!-- /container -->

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>

  </body>
</html>