<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name='csrf_token' content='<%= Plug.CSRFProtection.get_csrf_token %>'>
    <%= if Guardian.Plug.current_token(@conn) do %>
      <meta name='guardian_token' content="<%= Guardian.Plug.current_token(@conn) %>">
    <% end %>

    <title>emotext</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro:400,300,700' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <div class="container" role="main">
      <div class="header">

        <span class="logo">
        <a href="/">
          <span class="icon">ツ</span>
          <span class="title">emotext</span>
          <span class="subtitle"><u>emote</u>: verb. To show or pretend emotion.</span>
          </a>
        </span>

        <ul class="nav nav-pills">
          <li><%= link to: "/help" do %>
                <i class="fa fa-question-circle" aria-hidden="true"></i>help<% end %></li>
          <%= if current_user(@conn) do %>
            <%= if is_guest?(current_user(@conn)) do %>
                <li><%= link to: user_path(@conn, :new) do %><i class="fa fa-user-plus" aria-hidden="true"></i>register<% end %></li>
                <li><%= link to: login_path(@conn, :create) do %><i class="fa fa-sign-in" aria-hidden="true"></i>login<% end %></li>
            <% else %>
                <li><%= link to: user_path(@conn, :show, current_user(@conn)) do %>
                <i class="fa fa-user" aria-hidden="true"></i><%= current_user(@conn).screen_name %><% end %></li>
                <li><%= link to: logout_path(@conn, :delete) do %><i class="fa fa-sign-out" aria-hidden="true"></i>logout<% end %></li>
            <% end %>
          <% else %>
            <li><%= link to: user_path(@conn, :new) do %><i class="fa fa-user-plus" aria-hidden="true"></i>register<% end %></li>
            <li><%= link to: login_path(@conn, :create) do %><i class="fa fa-sign-in" aria-hidden="true"></i>login<% end %></li>
          <% end %>
        </ul>
      </div>

      <% if (flash = get_flash(@conn, :info)) != nil do %>
      <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= flash %>
      </div>
      <% end %>

      <% if (flash = get_flash(@conn, :warn)) != nil do %>
      <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= flash %>
      </div>
      <% end %>

      <% if (flash = get_flash(@conn, :error)) != nil do %>
      <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= flash %>
      </div>
      <% end %>

      <%= render @view_module, @view_template, assigns %>

      <div class="footer">
        &copy; <a href="mailto:c0der78@gmail.com?subject=Emotext">Ryan Jennings</a> 2015 | <a href="/api">API</a>
      </div>
    </div> <!-- /container -->

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>

  </body>
</html>
