<br>

  <div class="green-well card">

<div class="row">
    <h3 class="col-sm-offset-2">Edit Alias</h3>
</div>

<%= render "_form.html", assigns: [
  changeset: @changeset,
  conn: @conn,
  exists: true,
  alias: Routes.user_alias_path(@conn, :update, current_user(@conn), @alias),
  actions: @actions
] %>
</div>
