
html, body, .container {
  height: 100%;
}

body {
  font-family: 'Source Code Pro', monospace;
  font-size: 16px;
}

/* Space out content a bit */
body, form, ul, table {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Phoenix flash messages */
.alert:empty { display: none; }

/* Phoenix inline forms in links and buttons */
form.link, form.button {
  display: inline;
}

.transparent {
  zoom: 1;
  filter: alpha(opacity=20);
  opacity: 0.2;
}

.orange-well {
  background-color: rgba(255, 140, 0, 0.2);
  padding: 15px;
  border: 1px solid rgba(255, 140, 0, 0.3);
}

.green-well {
  background-color: rgba(0,100,0, 0.2);
  padding: 15px;
  border: 1px solid rgba(0,100,0, 0.3);
}

.blue-well {
  background-color: rgba(0, 0, 139, 0.15);
  padding: 15px;
  border: 1px solid rgba(0, 0, 139, 0.25);
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

.logo {
  display: inline-block;
  a:hover { text-decoration: none; }
  font-family: 'VT323', monospace;
  .icon {
	  font-size: 6em;
	  color: green;
	  font-weight: bold;
  }
  .title {
  	color: darkgreen;
  	font-size: 4em;
  	letter-spacing: 8px;
  }
  .subtitle {
  	display: block;
  	margin-left: 90px;
  	font-style: italic;
  	color: darkgreen;
  	position: relative;
  	top: -10px;
  }
}

div[role="main"] > div.header > ul.nav {
	margin-top: 7em;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing {
  padding-right: 15px;
  padding-left: 15px;
}

/* Customize container */
@media (min-width: 768px) {

}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

/* Supporting marketing content */
.marketing {
  margin: 35px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

#chat-input {
	width: 100%;
}

#chat-window {
  height: 400px;
}

#chat-window > div {
    height: 100%;
}
hr {
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: rgba(0,0,0,0.25);
    height: 1px;
    color: black;
    border: none;
  }

#messages {
	text-align: left;
  font-family: 'Source Code Pro', monospace;
	height: 90%;
	white-space: pre-wrap;
	overflow-y:auto;
  margin-bottom: 10px;
}

#chat-users {
  height: 100%;
  overflow-y: auto;
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  #chat-room {
    font-weight: bold;
    text-align: center;
  }
}

div[data-input-action], li[data-input-user] {
  cursor: pointer;
}

#chat-actions {
  height: 100%;
  overflow-y:auto;
  color: black;
  .title {
    text-align: center;
    font-weight: bold;
  }
}

#segrip {
  float: right;
}

#action-collapser {
  position: absolute;
  top: 0;
  right: 20px;
  cursor: pointer;
}

#users-collapser {
  position: absolute;
  left: 20px;
  top: 0;
  cursor: pointer;
}

.show {
  display: block;
}

.hidden {
  display: none;
}

