<br>

  <div class="card green-well">

<div class="row">
<h3 class="col-sm-offset-2">Your Account</h3>
</div>

<%= render "form.html", changeset: @changeset, user_del_path: user_path(@conn, :delete, @user),
                        action: user_path(@conn, :update, @user) %>

</div>
