<h2>Listing users</h2>

<table class="table">
  <thead>
    <tr>
      <th>Email</th>
      <th>Username</th>
      <th>Gender</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= for user <- @users do %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.username %></td>
        <td><%= gender_name(user) %></td>

        <td class="text-right">
          <a href={Routes.user_path(@conn, :show, user)} class="btn btn-default btn-xs">Show</a>
          <%= if current_user(@conn).id == user.id do %>
            <a href={Routes.user_path(@conn, :edit, user)} class="btn btn-default btn-xs">Edit</a>
            <.link
              href={Routes.user_path(@conn, :delete, user)}
              method="delete"
              class="btn btn-default btn-xs"
              data-confirm="Are you sure?"
            >
              <i class="fa fa-trash" aria-hidden="true"></i> Delete
            </.link>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<a href={Routes.user_path(@conn, :new)} class="btn btn-primary">
  <i class="fa fa-plus" aria-hidden="true"></i> New User
</a>
