<br />

<div class="card green-well">
  <div class="row">
    <h3 class="col-sm-offset-2">New Account</h3>
  </div>

  <%= render("_form.html",
    assigns: [
      changeset: @changeset,
      action: Routes.user_path(@conn, :create)
    ]
  ) %>
</div>
