
<br>

  <div class="green-well card">

<div class="row">
<h3 class="col-sm-offset-2">New Action</h3>
</div>

<%= render "form.html", changeset: @changeset, exists: false,
                        action: user_action_path(@conn, :create, current_user(@conn)), conn: @conn %>

</div>
