
<h2>Help</h2>

<ol>
	<li><a href="#about">about</a></li>
	<li><a href="#actions">emotes</a></li>
	<li><a href="#aliases">aliases</a></li>
</ol>


<h3><a name="about">about</a></h3>

<p>emotext is a chat app that uses commands for textual representation of feelings or emotions.  It is built on a high performance erlang/elixir/phoenix/mongodb stack.</p>

<p>As this is just a proof of concept I borrowed the idea and data from ROM MUD. Here is the <a data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">original license</a>.</p>
<div class="collapse" id="collapseExample">
<pre>
Merc Release 2.1
Sunday 01 August 1993

Furey	mec@shell.portal.com
Hatchet	hatchet@uclink.berkeley.edu
Kahn	michael@uclink.berkeley.edu

=== Copyright and License Terms

Diku Mud is copyright (C) 1990, 1991 by Sebastian Hammer, Michael Seifert,
Hans Henrik St{rfeldt, Tom Madsen, and Katja Nyboe.  Their license agreement
is in the file 'license.doc'.

Merc Diku Mud is a derivative of the original Diku Mud and is subject to their
copyright and license agreement.  Merc Diku Mud contains substantial
enhancements to Diku Mud.  These enhancements are copyright 1992, 1993 by
Michael Chastain, Michael Quan, and Mitchell Tse.

In order to use Merc you must follow the Diku license and our license.  The
exact terms of the Diku license are in the file 'license.doc'.  A summary of
these terms is:

	-- No resale or operation for profit.
	-- Original author's names must appear in login sequence.
	-- The 'credits' command must report original authors.
	-- You must notify the Diku creators that you are operating a Diku mud.

Our license terms are:

	-- Copyrights must remain in original source.
	-- 'Help merc' must report our help text, as shipped.

Notice that our license terms don't include keeping our names in the login
sequence.  If you want to keep a line in there referring to Merc, or referring
to us by name (Furey, Hatchet, and Kahn), we'd appreciate that, but we don't
require it.  But you must keep the original Diku authors in the login sequence.

If you do not follow these license terms, we will ask you to comply.  If that
doesn't work, then we will talk to your system administrators (not about your
running a mud, but on the grounds that you're using our copyrighted software
without permission).

These are very generous terms for any software.  If you don't want to accept
them, feel free to run some other software, or write your own.
</pre>
</div>

<h3><a name="commands">emotes</a></h3>

<p>emotes can be entered using a slash character (<b>/</b>).  To emote a smile, you would type <b>/smile</b>.  

<p>emotes can be used with other people in the app.  For example if you want to smile at a user named 'Fred' you would type <b>/smile fred</b>.</p>

<p>assuming your username is 'Bob', the result would be: <br/>
	<ul>
		<li>you would see <b>You smile happily at Fred.</b></li>
		<li>fred would see <b>Bob smiles happily at you.</b></li>
		<li>anyone else in the app would see <b>Bob smiles happily at Fred.</b></li>
	</ul>
</p>

<p>you can also click to perform an emote in the sidebars.</p>

<h3><a name="aliases">aliases</a></h3>

<p>The following aliases are supported for emoting:</p>

<table class="alias-table table table-bordered table-striped">
<tr>
<th>emotext</th><th>aliases</th>
</tr>
<%= for key <- Map.keys(@aliases) do %>
  <tr>
  <td class="title"><%= key %></td><td>
  <%= for a <- Map.get(@aliases, key) do %>
    <span><%= a.alias_name %></span>
  <% end %>
  </td>
  </tr>
<% end %>

</table>

<br/><br/>


