
<h2>Help</h2>

<ol>
	<li><a href="#about">about</a></li>
	<li><a href="#actions">emotes</a></li>
	<li><a href="#aliases">aliases</a></li>
</ol>


<h3><a name="about">about</a></h3>

<p>emotext is a chat app that uses commands for textual representation of feelings or emotions.  It is built on a high performance erlang/elixir/phoenix/postgres stack.</p>


<h3><a name="commands">emotes</a></h3>

<p>emotes can be entered using a slash character (<b>/</b>).  To emote a smile, you would type <b>/smile</b>.  

<p>emotes can be used with other people in the app.  For example if you want to smile at a user named 'Fred' you would type <b>/smile fred</b>.</p>

<p>assuming your username is 'Bob', the result would be: <br/>
	<ul>
		<li>you would see <b>You smile happily at Fred.</b></li>
		<li>fred would see <b>Bob smiles happily at you.</b></li>
		<li>anyone else in the app would see <b>Bob smiles happily at Fred.</b></li>
	</ul>
</p>

<p>you can also click to perform an emote in the sidebars.</p>


<h3><a name="aliases">aliases</a></h3>

<p>The following aliases are supported for emoting:</p>

<table class="alias-table table table-bordered table-striped">
<tr>
<th>emotext</th><th>aliases</th>
</tr>
<%= for key <- Map.keys(@aliases) do %>
  <tr>
  <td class="title"><%= key %></td><td>
  <%= for a <- Map.get(@aliases, key) do %>
    <span><%= a.alias_name %></span>
  <% end %>
  </td>
  </tr>
<% end %>

</table>

<br/><br/>


